.App {
  width: 100%;
  background-color: #f1eee9;
}

.bg-white {
  background-color: #f4f4f4 !important;
}

.main-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.footer {
  padding-top: 50px;
}
.footer .share-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.footer .share-box .share-btn {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}
.footer .share-box .share-btn > img {
  width: 100%;
}
.footer .share-box > span {
  font-size: 18px;
  font-family: "GangwonEducationModuche";
  color: #606f48;
}
.footer .copy {
  text-align: center;
  font-size: 0.825rem;
  color: #fff;
  padding: 50px 0;
  background-color: #3f5405;
}
.footer .footer-bottom-img {
  width: 100%;
  bottom: 0;
}
